:root {
	--gray-50: #f9fafb;
	--gray-100: #f3f4f6;
	--gray-200: #e5e7eb;
	--gray-300: #d1d5db;
	--gray-400: #9ca3af;
	--gray-500: #6b7280;
	--gray-600: #4b5563;
	--gray-700: #374151;
	--gray-800: #1f2937;
	--gray-900: #111827;
}

g.scatters .tick line, g.scatters .domain {
	stroke: var(--gray-300);
}

g.scatters .tick text {
	visibility: hidden;
}

g.scatters .row:first-of-type .axis-x text{
	visibility: visible;
}

g.scatters .row g:last-of-type .axis-y text{
	visibility: visible;
}

g.parallel-cord path.line {
	stroke: black;
	stroke-width: .5;
	fill: none;
	opacity: .4;
}